__pycache__/  
*.py[cod]  
*.so  
.Python  
build/  
dist/  
*.egg-info/  
.env  
.venv  
venv/  
.pytest_cache/  
.coverage  
*.db 
.npmrc
node_modules/
dist/
tessaract-ocr/
.aws-sam-cli-managed-default/
.aws-sam-cli-managed-default/template.yaml
.codeium/
